In [97]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

In [98]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

In [52]:
# 성별이 Male인 환자들의 age의 평균값은 ?

In [103]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
df.head()
df['age'].value_counts()
df['age'] = df['age'].str.replace('*','').astype('int')
df[df['gender'] == 'Male']['age'].mean()
# 타입 변경 -> astype()  / dtype => data type 데이터 타입 확인

np.float64(44.68623481781376)

In [67]:
#bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한
#나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [84]:
# df.isnull().sum()
median = df['bmi'].median()
df['bmi'] = df['bmi'].fillna(median)
round(df['bmi'].mean(),3)

np.float64(29.166)

In [85]:
# bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우
#bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [99]:
# df.isnull().sum()
df['bmi'] = df['bmi'].ffill()
round(df['bmi'].mean(),3)

np.float64(29.188)

In [100]:
# bmi컬럼의 각 결측치들을 결측치를 가진 환자 나이대(10단위)
#의 평균 bmi 값으로 대체한 후 대체된 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [117]:
df['나이대'] = (df['age']//10) * 10
groupy_bmi = df.groupby('나이대')['bmi'].transform('mean')
groupy_bmi

0       31.751111
1       24.477228
2       24.477228
3       31.615873
4       18.960784
          ...
1132    18.960784
1133    18.960784
1134    28.566667
1135    28.566667
1136    31.894086
Name: bmi, Length: 1137, dtype: float64

In [149]:
def g(x):
    if x >= 200:
        return 199 
    else :
        return x 
df['avg_result'] = df['avg_glucose_level'].apply(g)
round(df[df['stroke'] ==1]['avg_result'].mean(),3)

np.float64(125.188)

In [233]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [192]:
#Attack컬럼의 값을 기준으로 내림차순정렬 했을때 
#상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?

In [202]:
result_400 = df.sort_values("Attack", ascending = False).head(400)
print((result_400["Legendary"].sum()))
result_800 = df.sort_values("Attack", ascending = False).iloc[401:800]
print((result_800["Legendary"].sum()))

60
5

In [203]:
# Type 1 컬럼의 종류에 따른 
#Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?

In [205]:
df.groupby('Type 1')['Total'].mean().sort_values(ascending = False)

Type 1
Dragon      550.531250
Steel       487.703704
Flying      485.000000
Psychic     475.947368
Fire        458.076923
Rock        453.750000
Dark        445.741935
Electric    443.409091
Ghost       439.562500
Ground      437.500000
Ice         433.458333
Water       430.455357
Grass       421.142857
Fighting    416.444444
Fairy       413.176471
Normal      401.683673
Poison      399.142857
Bug         378.927536
Name: Total, dtype: float64

In [206]:
# 결측치가 존재하는 행을 모두 지운 후 
#처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라

In [241]:
result = df.dropna()
six_result = int(len(result) * 0.6)  # 60퍼 
subset = result.iloc[:six_result]
subset['Defense'].quantile(0.25)

np.float64(50.0)

In [242]:
# Type 1 컬럼의 속성이 Fire인 포켓몬들의  Attack의 평균이상인
# Water속성의 포켓몬 수를 구하여라

In [269]:
result_fire = df[df['Type 1'] == 'Fire']['Attack'].mean() 
result = df[df['Attack'] >=result_fire]
len(result[result['Type 1'] == 'Water'])

37

In [288]:
# 각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?
result = df.groupby(["Generation"])[["Speed","Defense"]].mean()
result["diff"] = abs(result["Speed"] - result["Defense"])
result

                Speed    Defense       diff
Generation
1           72.584337  70.861446   1.722892
2           61.811321  73.386792  11.575472
3           66.925000  74.100000   7.175000
4           71.338843  78.132231   6.793388
5           68.078788  72.327273   4.248485
6           66.439024  76.682927  10.243902

In [318]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv')

# display(train.head())
# display(test.head())

# train.isnull().sum()
train["bmi"] = train["bmi"].fillna(train["bmi"].median())
test["bmi"] = test["bmi"].fillna(test["bmi"].median())

# 데이터 분리 
X_train = train.drop(["id","stroke"],axis = 1)
X_test = test.drop(["id"], axis = 1)
Y_train = train["stroke"]

# 데이터 인코딩 

X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test)

X_test = X_test.reindex(columns = X_train.columns , fill_value = 0)


from sklearn.model_selection import train_test_split
X_train, X_val, Y_train, Y_val = train_test_split(X_train, Y_train, test_size = 0.2)

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train, Y_train)
y_pred_val = model.predict(X_val)

print(y_pred_val)

from sklearn.metrics import roc_auc_score , accuracy_score
roc_auc = roc_auc_score(Y_val, y_pred_val)
accuarcy = accuracy_score(Y_val, y_pred_val)
print(roc_auc)
print(accuarcy)

y_pred = model.predict(X_test)
result = pd.DataFrame(y_pred, columns = ["pred"])
result.to_csv("result.csv", index= False)

result = pd.read_csv("result.csv")
print(result)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 0 0]
0.5167555217060168
0.8859649122807017
     pred
0       0
1       0
2       0
3       0
4       0
..    ...
927     0
928     0
929     0
930     0
931     0

[932 rows x 1 columns]