In [89]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p1_1.csv')
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,NaN,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.9,4.98,24.0
1,0.02731,NaN,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.9,9.14,21.6

In [90]:
# 주어진 Dataset에서 CRIM값이 가장 큰 10개의 지역을 구하고
#10개의 지역의 CRIM값을 그 중 가장 작은 값으로 대체하라. 그리고
# AGE 컬럼 값이 80이상인 대체 된 CRIM 평균값을 구하라

In [91]:
result = df.sort_values('CRIM',ascending = False).reset_index(drop= True)
result.loc[:9,'CRIM'] = result.loc[:9,'CRIM'].min()
result = result[result['AGE'] >= 80]['CRIM'].mean()
result

np.float64(5.759386625)

In [92]:
# 1-1에서 사용한 데이터에서 RM 중앙값으로 해당 컬럼의 결측치를 대체하라
#그리고 해당 컬럼의 결측치 대치 전후의 표준편차 차이의 절댓값을 소숫점 이하 3째자리 까지 구하라

In [93]:
pre_std = df['RM'].std()
df['RM']= df['RM'].fillna(df['RM'].median())
after_std = df['RM'].std()

print(pre_std)
print(after_std)

print(pre_std-after_std)

0.7212529033559509
0.6938906198881796
0.027362283467771364

In [80]:
#주어진 Dataset의 DIS 평균으로 부터 1.5 * 표준편차를 벗어나는 영역을 이상치라고 판단하고
#DIS 컬럼의 이상치들의 합을 구하여라.

0.0

In [98]:
result = df[(df['DIS'] > df['DIS'].mean() + 1.5 * df['DIS'].std()) | (df['DIS'] < df['DIS'].mean() - 1.5 * df['DIS'].std())]
result['DIS'].sum()

np.float64(404.4101)

In [123]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv")


# display(x_train.head())
# display(y_train.head())

# x_train.isnull().sum()
# x_test.isnull().sum()

X_train = x_train.drop(["ID"], axis = 1)
X_test = x_test.drop(["ID"], axis = 1)
Y_train = y_train["Reached.on.Time_Y.N"]

X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test)

X_test = X_test.reindex(columns = X_train.columns, fill_value = 0)


from sklearn.model_selection import train_test_split
X_train, X_val , Y_train, Y_val = train_test_split(X_train, Y_train, test_size = 0.2)

from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, Y_train)
y_pred_val = model.predict(X_val)

from sklearn.metrics import f1_score
f1_score = f1_score(Y_val , y_pred_val)
print(f1_score)


y_pred = model.predict(X_test)
result = pd.DataFrame(y_pred, columns = ["pred"])
result.to_csv("result.csv", index =False)

result = pd.read_csv("result.csv")
print(result)

0.7120211360634082
      pred
0        1
1        0
2        1
3        1
4        1
...    ...
4396     1
4397     0
4398     0
4399     0
4400     1

[4401 rows x 1 columns]

In [154]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p3_1.csv')
df.head(5)
# 122마리의 height 평균값을 m(미터) 단위로 소숫점 이하 5자리까지 실수 값만 출력하라

     fish   height
0  fish_1  33.74cm
1  fish_2  31.64cm
2  fish_3  27.49cm
3  fish_4  31.43cm
4  fish_5  27.56cm

In [155]:
# 122마리의 height 평균값을 m(미터) 단위로 소숫점 이하 5자리까지 실수 값만 출력하라

In [156]:
df['height'] = df['height'].str.replace("cm","").astype('float')
round(df['height'].mean() / 100,5)

np.float64(0.29951)

In [162]:
# 모집단의 평균 길이가 30cm 인지 확인하려 
#일표본 t 검정을 시행하여 확인하려한다. 검정통계량을 소숫점 이하 3째자리까지 구하여라

In [160]:
from scipy.stats import ttest_1samp

s, p = ttest_1samp(df['height'],30)
print(s,p)

-0.21650825215238356 0.8289561932476028

In [163]:
# 조사결과 70%의 성인 남성이 3년 동안에 적어도 1번 치과를 찾는다고 할때, 21명의 성인 남성이 임의로 추출되었다고 하자.
# 21명 중 16명 미만이 치과를 찾았을 확률(반올림하여 소숫점 이하 3자리)

In [165]:
# binom 이항 분포 -> 성공 확률이 p인 실험을 n번 독립적 반복 => 성공 k개 나올 확률

from scipy.stats import binom

n = 21
p = 0.7
k = 16 

prob = binom.cdf(k-1,n,p)
print(round(prob,3))

0.637

In [166]:
# 적어도 19명이 치과를 찾았을 확률(반올림하여 소숫점 이하 3자리) 
# 적어도 19명 이상은 치과를 갔다 -> 18명이하 성공 확률을 전체에서 뺀다

In [168]:
from scipy.stats import binom

n = 21
p = 0.7
k = 19

prob = 1- 

print(round(prob,3))

0.027