In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_1.csv')
df.head(5)

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,331,유아,집
4,20211118102M05820,강동소방서,고열,20211019,12100,20211019,12322,무직,집

In [38]:
#각 구급 보고서 별 출동시각과 신고시각의 차이를 ‘소요시간’ 컬럼을 만들고 초(sec)단위로 구하고 
#소방서명 별 소요시간의 평균을 오름차순으로 정렬 했을때 3번째로 작은 소요시간의 값과 소방서명을 출력하라

In [63]:
df['신고_datetime'] = pd.to_datetime(df['신고일자'].astype('str') + df['신고시각'].astype('str').str.zfill(6))
df['출동_datetime'] = pd.to_datetime(df['출동일자'].astype('str') + df['출동시각'].astype('str').str.zfill(6))

df['소요시간'] = (df['출동_datetime'] - df['신고_datetime']).dt.total_seconds()

df.groupby('소방서명')['소요시간'].mean().sort_values(ascending = False) 
# 종로소방서     175.500000

소방서명
영등포소방서    258.839286
용산소방서     237.366197
동대문소방서    228.148515
강북소방서     212.061224
관악소방서     209.843750
중부소방서     207.563636
성동소방서     207.358209
도봉소방서     207.145631
성북소방서     205.293578
중랑소방서     204.877049
강서소방서     199.696203
강남소방서     196.933333
마포소방서     196.547445
양천소방서     192.201389
은평소방서     191.390071
구로소방서     189.513274
송파소방서     189.330508
동작소방서     185.107527
강동소방서     181.656566
노원소방서     179.579310
광진소방서     175.602273
종로소방서     175.500000
서대문소방서    165.056604
서초소방서     164.883495
Name: 소요시간, dtype: float64

In [45]:
df["출동시각"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2762 entries, 0 to 2761
Series name: 출동시각
Non-Null Count  Dtype
--------------  -----
2762 non-null   int64
dtypes: int64(1)
memory usage: 21.7 KB

In [64]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_2.csv')
df.head(5)

               학교명  시도  학교세부유형  일반학급_학생수_계  교원수_총계_계
0  서울대학교사범대학부설고등학교  서울  일반고등학교         689        73
1           가락고등학교  서울  일반고등학교         765        70
2           개포고등학교  서울  일반고등학교         684        69
3           경기고등학교  서울  일반고등학교        1047        96
4           경동고등학교  서울  일반고등학교         529        58

In [65]:
# 학교 세부유형이 일반중학교인 학교들 중 일반중학교 숫자가 2번째로 많은 시도의 일반중학교 데이터만 필터하여 
# 해당 시도의 교원 한명 당 맡은 학생수가 가장 많은 학교를 찾아서 해당 학교의 교원수를 출력하라

In [113]:
result = df[df['학교세부유형'] == "일반중학교"]
city = result.groupby("시도")["학교세부유형"].size().sort_values(ascending = False)
city_counts = result['시도'].value_counts()
second_city = city_counts.index[1] 
print(second_city)
result2 = result[result['시도'] == '서울']
result2['ratio'] = df['일반학급_학생수_계'] / df['교원수_총계_계']
result2['ratio'].max()
result2[result2['ratio'] == 18.363636363636363]
# 33

서울

C:\Users\dn011\AppData\Local\Temp\ipykernel_18968\335345239.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result2['ratio'] = df['일반학급_학생수_계'] / df['교원수_총계_계']

                학교명  시도 학교세부유형  일반학급_학생수_계  교원수_총계_계      ratio
524  단국대학교사범대학부속중학교  서울  일반중학교         606        33  18.363636

In [114]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_3.csv')
df.head(5)

       범죄분류     절도     사기   배임   방화     폭행
0  2018년_1월  13280  25318  656  143  12186
1  2018년_2월  12504  19159  403  135  12087
2  2018년_3월  14733  24509  471  148  13841
3  2018년_4월  14781  23147  414  135  13973
4  2018년_5월  15988  23584  451  127  14117

In [117]:
#**5대 범죄(절도, 사기, 배임, 방화, 폭행)의 월별 총 발생건수를 총범죄수라고 표현하자. 
#18,19년의 각각 분기별 총범죄수의 월평균 값을 구했을때 최대값을 가지는 년도와 분기를 구하고 
#해당 분기의 최댓값의 사기가 발생한 월의 사기 발생건수를 출력하라
#(1분기:1,2,3월 / 2분기 : 4,5,6월 / 3분기 7,8,9월 / 4분기 10,11,12월 , 1분기 월평균 : 1,2,3월의 총범죄수 평균) **

In [224]:
df['범죄월'] = df['범죄분류'].str.split('_').str[1]
df['범죄년'] = df['범죄분류'].str.split('_').str[0]
df['총범죄수'] = df['절도'] + df['사기'] + df['배임'] + df['방화'] + df['폭행']

def g(x):
    if x == '1월' or x == '2월' or x == '3월' :
        return '1분기'
    if x == '4월' or x == '5월' or x == '6월':
        return '2분기'
    if x == '7월' or x == '8월' or x == '9월':
        return '3분기'
    if x == '10월' or x == '11월' or x == '12월':
        return '4분기'
df['분기'] = df['범죄월'].apply(g)

grouped = df.groupby(['범죄년', '분기'])['총범죄수'].mean()
max_idx = grouped.idxmax()  # ('2019년', '3분기') 같은 튜플
max_year, max_quarter = max_idx
print(f"✅ 총범죄수 월평균 최대: {max_year} {max_quarter}")

target_df = df[(df['범죄년'] == max_year) & (df['분기'] == max_quarter)]
max_scam_row = target_df.loc[target_df['사기'].idxmax()]
print(max_scam_row['범죄월'])
print(max_scam_row['사기'])

✅ 총범죄수 월평균 최대: 2019년 2분기
5월
27766

In [216]:
df['총범죄수'] = df['절도']  +df['사기']  +df['배임']  +df['방화']  +df['폭행']
df['분기'] = [x+'_'+str(y) for x in ['2018','2019'] for y in range(1,5) for z in range(3)]

max_ = df.groupby(['분기'])['총범죄수'].mean().sort_values().index[-1]
max_

'2019_2'

In [225]:
# A 도시의 남성 600명과 여성 550명이 있다. 남성들 중 흡연자 비율은 0.2이며 여성들 중 흡연자 비율은 0.26이다.
# 남성과 여성 간에 흡연 여부에 따른 인구 비율이 다른지 확인하고 싶다. 
# 유의 수준 0.05하 귀무가설에 대해 기각 / 채택 여부와 p-value값을 각각 출력하라

In [239]:
from scipy.stats import chi2_contingency

total_m = 600
total_w = 550

smoke_m = 0.2
smoke_w = 0.26

smoke_ratio_m = int(total_m * 0.2)
no_smoke_ratio_m = int(total_m - smoke_ratio_m)

smoke_ratio_w = int(total_w * 0.26)
no_smoke_ratio_w = int(total_w - smoke_ratio_w)

table = [[smoke_ratio_m, no_smoke_ratio_m], [smoke_ratio_w,no_smoke_ratio_w]]
print(chi2_contingency(table))

Chi2ContingencyResult(statistic=np.float64(5.521247671393307), pvalue=np.float64(0.018786854975740765), dof=1, expected_freq=array([[137.2173913, 462.7826087],
       [125.7826087, 424.2173913]]))

In [238]:
import numpy as np
total_male = 600
total_female = 550

# 남성과 여성 중 흡연자의 비율
smoking_ratio_male = 0.2
smoking_ratio_female = 0.26

# 흡연자와 비흡연자의 인구 수 계산
smoking_male = int(total_male * smoking_ratio_male)
non_smoking_male = int(total_male - smoking_male)

smoking_female = total_female * smoking_ratio_female
non_smoking_female = total_female - smoking_female

# 데이터 배열 생성 (빈도로 변환)
data = np.array([[smoking_male, non_smoking_male], [smoking_female, non_smoking_female]])

# 카이제곱 검정 수행
chi2_stat, p_val, dof, expected = chi2_contingency(data)

print('기각',p_val)

기각 0.018786854975740765

In [240]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/28/p7.csv')
df.head()

   age  Cholesterol  weight
0   65         69.0   111.0
1   54        117.0    81.0
2   61         86.2    72.0
3   57         76.0    78.0
4   62        160.0    61.0

In [241]:
# age와 Cholesterol을 가지고 weight를 예측하는 선형 회귀 모델을 만들려고한다. age의 회귀 계수를 구하여라

In [251]:
from statsmodels.formula.api import ols

formula = "weight~ age+ Cholesterol"
model = ols(formula, data = df).fit()
print(model.summary())
print(model.params['age'])

# 없다 귀무 / 있다  - 대립

                            OLS Regression Results
==============================================================================
Dep. Variable:                 weight   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     7.574
Date:                Fri, 30 May 2025   Prob (F-statistic):           0.000608
Time:                        22:17:47   Log-Likelihood:                -1374.9
No. Observations:                 333   AIC:                             2756.
Df Residuals:                     330   BIC:                             2767.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      74.8953      4.455     16.813      0.000      66.132      83.658
age            -0.0361      0.059     -0.611      0.542      -0.152       0.080
Cholesterol     0.0819      0.022      3.716      0.000       0.039       0.125
==============================================================================
Omnibus:                       15.848   Durbin-Watson:                   2.033
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.569
Skew:                           0.471   Prob(JB):                     0.000153
Kurtosis:                       3.617   Cond. No.                         701.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
-0.03610166914386536

In [254]:
if  0.000 > 0.05:
    print ("선형 없음")
else:
    print("선형 있음")

선형 있음

In [262]:
new_data = pd.DataFrame({'age': [55], 'Cholesterol': [72.6]})
pred = model.predict(new_data)
print(pred.iloc[0])

78.8577101134459