In [179]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [2]:
#인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)

In [15]:
df.value_counts('channelTitle').head(10).index

Index(['짤툰', '파뿌리', 'SPOTV', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', '장삐쭈',
       'BANGTANTV', '채널 십오야', '이과장', '총몇명'],
      dtype='object', name='channelTitle')

In [16]:
#논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

In [38]:
cond1 = df['dislikes'] > df['likes']
result = df.loc[cond1]['channelTitle']
print(set(result))

{'사나이 김기훈', '오메킴TV', '왜냐맨하우스', 'ASMR 애정TV', '철구형 (CHULTUBE)', 'Gen.G esports', '육지담', '하얀트리HayanTree', 'ROAD FIGHTING CHAMPIONSHIP', '(MUTUBE)와꾸대장봉준', '핫도그TV', 'MapleStory_KR', '양팡 YangPang', '나혼자산다 STUDIO'}

In [39]:
# 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

In [56]:
result = df.groupby('channelId')['channelTitle'].nunique()
result = result[result > 1]
len(result)

71

In [57]:
# 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

In [111]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
# datetime 변환 => pd.to_datetime()
df['weekend'] = df['trending_date2'].dt.day_name()  # day_name 판다스 자체 기능  => dt를 사용할려면 weekday
df[df['weekend'] == 'Sunday'].value_counts('categoryId').index[0]

np.int64(24)

# 날짜 메소드 찾기
from datetime import datetime

dt = datetime.now()

list(filter(lambda x : 'day_name' in x ,dir(dt)))

- dt.day_name() => 판다스 자체기능
- dt.weekday => 0 월요일 ~ 6 일요일

In [156]:
from datetime import datetime

dt = datetime.now()

list(filter(lambda x : 'day' in x ,dir(dt)))

['day', 'isoweekday', 'today', 'weekday']

In [112]:
# 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

In [120]:
df.groupby(['categoryId','weekend']).size().unstack()

weekend     Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1              243     263       255     274       246      257        234
2              120     105       119      99       128      119        129
10             833     837       776     830       890      894        917
15             187     215       198     217       207      208        207
17             633     668       592     636       682      708        706
19              90      92        87      91        92       89         85
20             283     298       296     289       282      285        291
22            1288    1373      1289    1337      1341     1375       1333
23             568     594       570     556       560      569        566
24            2976    3148      3066    3096      2954     3084       3090
25             444     453       422     437       470      452        468
26             369     378       364     363       375      394        385
27             183     205       183     199       194      194        212
28             171     160       173     167       166      161        165
29              12      10        10       9        13       11         12

In [121]:
# 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.
# viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

In [139]:
result = df[df['view_count'] != 0]
result['ratio'] = df['comment_count'] / df['view_count']
result.sort_values('ratio',ascending = False)['title'].values[0]

C:\Users\dn011\AppData\Local\Temp\ipykernel_28060\3530582252.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['ratio'] = df['comment_count'] / df['view_count']

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

In [136]:
#댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다
#.viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)

In [143]:
result = df[df['view_count'] != 0]
result['ratio'] = df['comment_count'] / df['view_count']
result = result[result['ratio'] !=0]
result.sort_values('ratio',ascending = True)['title'].values[0]

C:\Users\dn011\AppData\Local\Temp\ipykernel_28060\3847536113.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['ratio'] = df['comment_count'] / df['view_count']

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [144]:
# like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

In [148]:
result = df[ (df['likes'] != 0) & (df['dislikes'] != 0)] 
result['like_ratio'] = df['dislikes'] / df['likes']
result.sort_values('like_ratio', ascending = True)['title'].values[0]

C:\Users\dn011\AppData\Local\Temp\ipykernel_28060\2176483636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['like_ratio'] = df['dislikes'] / df['likes']

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

In [149]:
# 가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)

In [154]:
df['channelTitle'].value_counts().sort_values(ascending = False).index[0]

'짤툰'

In [155]:
# 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?

In [181]:
result = df[['title','channelId']].value_counts()
print(result)
count_title = (result >= 20).sum()
count_titles

title                                                                                       channelId
대한민국 VS 투르크메니스탄 : FIFA 카타르 월드컵 2차 예선 하이라이트 - 2021.06.05                                     UCpjOmwiy88a9EV3Rv8ukJgw    24
컵라면 먹을 때 절대 일어날리 없는 상황들 ㅋㅋㅋ                                                                 UCmzMtXrJgfCqA0rfhz8_P4A    24
극과 극을 살고 있는 인도의 갑부와 빈곤층들!                                                                   UCi9Sl8GnFdYoqEVXnojBPJw    23
대박... 멧돼지를 아들로 삼은 할아버지｜KBS 주주클럽 050410 방송                                                   UCAhKKbDO9-ymWZ_7iAFLBQQ    23
2주더놀릴예정                                                                                     UCaKod3X1Tn4c7Ci0iUKcvzQ    23
                                                                                                                        ..
일주일 일상 모음 vlogㅣ일본에서 백신 1,2차 접종하기💊 (ft.부작용&후기)ㅣ일본인 남친에게 간호받기 🛏ㅣ한국에서 온 국제택배 언박싱ㅣ토모 어머니표 집밥    UCoQy2wS5aiKCk-rUXiLS-vQ     1
10월에 한파주의보라니... 얼어 죽을 뻔...                                                                  UCZ1wYQHk1yVle18u8FA8AvA     1
🗣️손님 어디까지 가세요? 👋조회수 500만까지 가고 싶어여  🚕| 택시기사 직업체험 리뷰 | 워크맨 ep.115                             UCwx6n_4OcLgzAGdty0RWCoA     1
[뮤비해석] 아이유 팬들이 이번 앨범에 과몰입할 수밖에 없는 이유 🤦‍♀️ㅣ아이유 '라일락'ㅣIU ‘LILAC’ MV explained & theory        UCfbn_7tdW97URJyy865cIdA     1
💩냄새 지옥 두리안 케이크를 맛본 쭈니형의 반응?😖 반백살 입은 못 속이지! 태국 음식 맛집 대탐방!🍜  l먹방(mukbang) l 와썹맨2 ep.40 l 박준형  UCYgUhR7EGKauFXgJS0pckGg     1
Name: count, Length: 7867, dtype: int64

NameError: name 'count_titles' is not defined

In [283]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

In [183]:
# 각 데이터의 ‘ct’컬럼을 시간으로 인식할수 있게 datatype을 변경하고 
#video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라

In [186]:
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])
video.groupby('videoname').size()

videoname
공범 EP1    3492
공범 EP2    3204
공범 EP3    2568
공범 EP4    2280
공범 EP5    1562
공범 EP6    1274
공범 EP7     555
공범 EP8     266
dtype: int64

In [187]:
# 수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라

In [209]:
result = video.sort_values('ct',ascending = False).drop_duplicates('videoname',keep='first')
result[['viewcnt','videoname','ct']].sort_values('videoname', ascending = True).reset_index(drop =True)

   viewcnt videoname                  ct
0  3180532    공범 EP1 2021-11-01 15:30:03
1  2199328    공범 EP2 2021-11-01 15:30:03
2  1671294    공범 EP3 2021-11-01 15:30:03
3  1818493    공범 EP4 2021-11-01 15:30:03
4  1503435    공범 EP5 2021-11-01 15:30:04
5  1750222    공범 EP6 2021-11-01 15:30:04
6  1630200    공범 EP7 2021-11-01 15:30:05
7  1289088    공범 EP8 2021-11-01 15:30:05

In [210]:
# Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라

In [223]:
result = channel[channel['ct'] >= '2021-10-03'].sort_values(['ct','channelname']).drop_duplicates('channelname')
result[['channelname','subcnt']].reset_index(drop = True)

        channelname   subcnt
0            논리왕 전기   922000
1             야전삽짱재   257000
2        츄정ChuJeong   322000
3        김농밀의 농밀한 삶     7520
4       릴펄 Lilpearl    10100
5   와글와글 WagleWagle    55000
6               조나단   215000
7           형사!탐정되다    14900
8     Balming Tiger    54300
9     곽토리 kwak tori   471000
10              꽈뚜룹  1330000

In [224]:
# 각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라

In [293]:
df = channel[(channel['ct'] >= '2021-10-03 03:00:00') & (channel['ct'] <= '2021-11-01 15:00:00')]
df =df.sort_values(['channelname','ct'])

start_df = df.drop_duplicates('channelname', keep='first')[['channelname','subcnt']].reset_index(drop = True)
end_df = df.drop_duplicates('channelname', keep='last')[['channelname','subcnt']].reset_index(drop = True)

result = pd.merge(start_df, end_df, on = 'channelname')
result
result['diff_cnt'] = result['subcnt_y'] - result['subcnt_x']
result[['channelname','diff_cnt']].sort_values('diff_cnt',ascending =False).reset_index(drop=True)

        channelname  diff_cnt
0               꽈뚜룹     70000
1               조나단     12000
2             야전삽짱재     11000
3       릴펄 Lilpearl     11000
4           형사!탐정되다     10300
5     Balming Tiger      2500
6        김농밀의 농밀한 삶      1540
7        츄정ChuJeong      1000
8   와글와글 WagleWagle         0
9     곽토리 kwak tori     -2000
10           논리왕 전기    -11000

In [294]:
# 각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다. 
#공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라

In [353]:
import datetime
result = video[video['videoname'].str.contains("1")].sort_values('ct').reset_index(drop =True)

cond1 = (result['ct'].diff() >= datetime.timedelta(minutes = 20))
cond2 = (result['ct'].diff() <= datetime.timedelta(minutes = 5))

result = result[ cond1 | cond2]
result # 720, 721 , 723, 724 , 1635 , 1636 , 1637

video.iloc[[720, 721 , 723, 724 , 1635 , 1636 , 1637],:]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,minute
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1,20
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,41
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1,50
724,c5JQp6xafqc,2228833,34568,849,0,7194,2021-10-13 10:00:03,공범 EP1,0
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1,50
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1,20
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1,30

import datetime as dt 

dt = datetime.now()

print(list(filter(lambda x : 'min' in x , dir(dt))))

In [ ]:
# 15번