In [1]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e8_p3_1.csv')
df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,Y
0,0.506278,-0.231322,0.759771,-0.172927,-0.687524,-0.556815,-1.381369,1.633690,-0.869129,0.370614,0.615057,-0.416594,-1.175980,0.113494,-0.539230,1
1,0.017220,1.530047,0.676838,1.533623,-0.516027,0.949166,-1.180669,1.895021,-1.211768,-1.081109,-1.067039,-0.611829,0.846854,-0.812381,0.823546,0
2,1.436089,0.038078,-0.120501,0.914955,-1.504149,0.443893,-0.696385,0.245013,1.221166,-1.387287,-1.762048,-0.556466,0.130129,0.517210,1.056730,0
3,-0.926337,-0.665242,-0.106853,-1.111627,-0.127867,0.746742,-0.345943,0.848144,0.374944,-0.951299,1.097359,0.754369,-0.221183,-0.430509,0.756875,1
4,-0.350953,-0.044709,-0.421777,1.359772,-1.619690,-0.645908,-1.717975,-0.598477,1.026014,-0.134644,-0.988988,0.513048,-0.886113,0.247288,-0.016664,0

In [2]:
# y컬럼을 종속변수로하는 로지스틱회귀 모형을 만들 떄 유의미하지 않은 변수의 개수는? % 상수항은 추가하여 모델링하라

In [7]:
from statsmodels.formula.api import logit
formula = 'Y ~ +X1+X2+X3+X4+X5+X6+X7+X8+X9+X10+X11+X12+X13+X14+X15'
model = logit(formula, data = df).fit()
print(model.summary()) #12개

Optimization terminated successfully.
         Current function value: 0.060586
         Iterations 10
                           Logit Regression Results
==============================================================================
Dep. Variable:                      Y   No. Observations:                 2500
Model:                          Logit   Df Residuals:                     2484
Method:                           MLE   Df Model:                           15
Date:                Tue, 03 Jun 2025   Pseudo R-squ.:                  0.9126
Time:                        14:28:24   Log-Likelihood:                -151.47
converged:                       True   LL-Null:                       -1732.9
Covariance Type:            nonrobust   LLR p-value:                     0.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -2.1997      0.566     -3.883      0.000      -3.310      -1.089
X1             0.2990      0.171      1.749      0.080      -0.036       0.634
X2             0.1913      0.182      1.048      0.294      -0.166       0.549
X3             0.0066      0.170      0.039      0.969      -0.326       0.339
X4             0.1455      0.170      0.858      0.391      -0.187       0.478
X5             0.1625      0.163      0.995      0.320      -0.158       0.483
X6             0.1450      0.171      0.849      0.396      -0.190       0.480
X7            -1.2546      0.334     -3.753      0.000      -1.910      -0.599
X8             0.7723      0.156      4.955      0.000       0.467       1.078
X9             0.1498      0.167      0.900      0.368      -0.177       0.476
X10           -0.0190      0.177     -0.107      0.915      -0.367       0.329
X11            6.2601      0.367     17.036      0.000       5.540       6.980
X12           -0.0820      0.166     -0.495      0.621      -0.407       0.243
X13            0.0541      0.164      0.330      0.741      -0.267       0.375
X14            0.0740      0.166      0.444      0.657      -0.252       0.400
X15            0.2433      0.171      1.427      0.154      -0.091       0.578
==============================================================================

In [8]:
# **유의한 변수들 만으로 다시 모델링을 해서 X를 포함하는 독립변수들의 회귀계수 합계를 소숫점 이하 3째 자리까지 구하여라 *

In [30]:
from statsmodels.formula.api import logit
formula = 'Y ~ +X7+X8+X11'
model = logit(formula, data = df).fit()
print(model.summary()) 
print(round(model.params['X7'] + model.params['X8'] +model.params['X11'],3))

Optimization terminated successfully.
         Current function value: 0.062467
         Iterations 10
                           Logit Regression Results
==============================================================================
Dep. Variable:                      Y   No. Observations:                 2500
Model:                          Logit   Df Residuals:                     2496
Method:                           MLE   Df Model:                            3
Date:                Tue, 03 Jun 2025   Pseudo R-squ.:                  0.9099
Time:                        14:33:14   Log-Likelihood:                -156.17
converged:                       True   LL-Null:                       -1732.9
Covariance Type:            nonrobust   LLR p-value:                     0.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -2.0523      0.546     -3.756      0.000      -3.123      -0.981
X7            -1.1389      0.323     -3.525      0.000      -1.772      -0.506
X8             0.7529      0.149      5.041      0.000       0.460       1.046
X11            5.9960      0.326     18.374      0.000       5.356       6.636
==============================================================================
5.61

In [31]:
# 3-2번의 모델 결과에 대해 X뒤의 숫자가 가장 낮은 컬럼이 5단위 늘어나면 오즈비 몇 배로 변화?

In [36]:
import numpy as np
print(np.exp(model.params['X7'] * 5))

0.003364760921802281

In [37]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e8_p3_2.csv')
df.head()

   PIQ   Brain  Height  Weight
0  124   81.69    64.5     118
1  150  103.84    73.3     143
2  128   96.54    68.8     172
3  134   95.15    65.0     147
4  110   92.88    69.0     146

In [38]:
# PIQ를 예측하는 다중선형회귀 모형을 만들고 Brain의 회귀 계수를 구하여라

In [56]:
from statsmodels.formula.api import ols
formula = 'PIQ~+Brain+Height+Weight'
model = ols(formula, data = df).fit()
print(model.summary())
print(model.params['Brain'])

                            OLS Regression Results
==============================================================================
Dep. Variable:                    PIQ   R-squared:                       0.295
Model:                            OLS   Adj. R-squared:                  0.233
Method:                 Least Squares   F-statistic:                     4.741
Date:                Tue, 03 Jun 2025   Prob (F-statistic):            0.00722
Time:                        14:39:54   Log-Likelihood:                -165.25
No. Observations:                  38   AIC:                             338.5
Df Residuals:                      34   BIC:                             345.1
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    111.3536     62.971      1.768      0.086     -16.619     239.326
Brain          2.0604      0.563      3.657      0.001       0.915       3.205
Height        -2.7319      1.229     -2.222      0.033      -5.230      -0.233
Weight         0.0006      0.197      0.003      0.998      -0.400       0.401
==============================================================================
Omnibus:                        1.379   Durbin-Watson:                   1.827
Prob(Omnibus):                  0.502   Jarque-Bera (JB):                1.088
Skew:                           0.409   Prob(JB):                        0.580
Kurtosis:                       2.859   Cond. No.                     3.73e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.73e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
2.0603667978949503

In [57]:
# 모델의 r2를 구하여라

In [60]:
print(model.rsquared)

0.29493921047394

In [61]:
# 위에서 계산한 모델을 이용하여 뇌크기 90 키 70 몸무게 150일 때 지능을 예측하라

In [68]:
result = pd.DataFrame({'Brain':[90] ,'Height': [70], 'Weight' : [150]})
model.predict(result)

0    105.635569
dtype: float64

In [69]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_1.csv')
df.head()

,Target,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21
0,21.650072,0.496714,-0.138264,0.647689,1.523030,-0.234153,-0.234137,1.579213,0.767435,-0.469474,...,-0.465730,0.241962,-1.913280,-1.724918,-0.562288,-1.012831,0.314247,-0.908024,-1.412304,1.465649
1,-19.469855,-0.225776,0.067528,-1.424748,-0.544383,0.110923,-1.150994,0.375698,-0.600639,-0.291694,...,-0.013497,-1.057711,0.822545,-1.220844,0.208864,-1.959670,-1.328186,0.196861,0.738467,0.171368
2,-24.475600,-0.115648,-0.301104,-1.478522,-0.719844,-0.460639,1.057122,0.343618,-1.763040,0.324084,...,0.611676,1.031000,0.931280,-0.839218,-0.309212,0.331263,0.975545,-0.479174,-0.185659,-1.106335
3,13.476831,-1.196207,0.812526,1.356240,-0.072010,1.003533,0.361636,-0.645120,0.361396,1.538037,...,-2.619745,0.821903,0.087047,-0.299007,0.091761,-1.987569,-0.219672,0.357113,1.477894,-0.518270
4,3.505322,-0.808494,-0.501757,0.915402,0.328751,-0.529760,0.513267,0.097078,0.968645,-0.702053,...,-1.463515,0.296120,0.261055,0.005113,-0.234587,-1.415371,-0.420645,-0.342715,-0.802277,-0.161286

In [95]:
result = df.corr()['Target']
result.sort_values(ascending = False).values[1]

np.float64(0.6270251925517436)

In [96]:
# Target 변수를 종속변수로 하여 다중선형회귀모델링을 진행했을 때 v2 컬럼의 회귀 계수는?

In [103]:
from statsmodels.formula.api import ols
formula = 'Target ~+v1+v2+v3+v4+v5+v6+v7+v8+v9+v10+v11+v12+v13+v14+v15+v16+v17+v18+v19+v20+v21'
model = ols(formula,data =df).fit()                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
print(model.summary())
print(model.params['v2'])
print(model.pvalues['v21'])

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Target   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 5.228e+04
Date:                Tue, 03 Jun 2025   Prob (F-statistic):               0.00
Time:                        14:58:08   Log-Likelihood:                -707.67
No. Observations:                1000   AIC:                             1459.
Df Residuals:                     978   BIC:                             1567.
Df Model:                          21
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0118      0.016      0.739      0.460      -0.019       0.043
v1             5.5360      0.016    353.805      0.000       5.505       5.567
v2             6.4403      0.016    410.550      0.000       6.410       6.471
v3             9.6506      0.016    614.757      0.000       9.620       9.681
v4             8.9758      0.016    576.776      0.000       8.945       9.006
v5             1.9523      0.016    124.711      0.000       1.922       1.983
v6             0.0145      0.016      0.899      0.369      -0.017       0.046
v7            -0.0023      0.016     -0.140      0.888      -0.034       0.029
v8             0.0173      0.016      1.096      0.274      -0.014       0.048
v9            -0.0123      0.016     -0.781      0.435      -0.043       0.019
v10           -0.0019      0.016     -0.117      0.906      -0.033       0.030
v11            0.0171      0.016      1.099      0.272      -0.013       0.048
v12            0.0161      0.016      1.018      0.309      -0.015       0.047
v13           -0.0167      0.016     -1.058      0.290      -0.048       0.014
v14            0.0068      0.016      0.412      0.681      -0.026       0.039
v15           -0.0432      0.017     -2.605      0.009      -0.076      -0.011
v16            0.0117      0.016      0.749      0.454      -0.019       0.043
v17            0.0156      0.015      1.012      0.312      -0.015       0.046
v18            0.0100      0.016      0.628      0.530      -0.021       0.041
v19           -0.0174      0.016     -1.119      0.263      -0.048       0.013
v20            0.0098      0.015      0.637      0.524      -0.020       0.040
v21            0.0015      0.016      0.092      0.927      -0.030       0.033
==============================================================================
Omnibus:                        4.701   Durbin-Watson:                   2.013
Prob(Omnibus):                  0.095   Jarque-Bera (JB):                4.745
Skew:                          -0.167   Prob(JB):                       0.0932
Kurtosis:                       2.955   Cond. No.                         1.32
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
6.4403013648430685
0.9265545986907633

In [104]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_t.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [105]:
# train 데이터로 target을 종속변수로 로지스틱 회귀를 진행할 때 age 컬럼의 오즈비를 구하여라

In [120]:
train = df.iloc[:210]
test = df.iloc[210:]

from statsmodels.formula.api import logit
import numpy as np
formula = 'target~+age+sex+cp+trestbps+chol+fbs+restecg+thalach+exang+oldpeak+slope+ca+thal'
model = logit(formula, data= train).fit()
print(model.summary())
print(np.exp(model.params['age']))

Optimization terminated successfully.
         Current function value: 0.320236
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  210
Model:                          Logit   Df Residuals:                      196
Method:                           MLE   Df Model:                           13
Date:                Tue, 03 Jun 2025   Pseudo R-squ.:                  0.5350
Time:                        15:06:08   Log-Likelihood:                -67.250
converged:                       True   LL-Null:                       -144.61
Covariance Type:            nonrobust   LLR p-value:                 2.308e-26
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -10.7525      3.655     -2.942      0.003     -17.917      -3.588
age           -0.0056      0.030     -0.184      0.854      -0.065       0.054
sex            1.5477      0.666      2.323      0.020       0.242       2.853
cp             0.8332      0.259      3.215      0.001       0.325       1.341
trestbps       0.0320      0.014      2.356      0.018       0.005       0.059
chol           0.0068      0.005      1.448      0.148      -0.002       0.016
fbs           -1.1463      0.655     -1.749      0.080      -2.431       0.138
restecg        0.3812      0.234      1.631      0.103      -0.077       0.839
thalach       -0.0207      0.014     -1.523      0.128      -0.047       0.006
exang          0.9930      0.494      2.010      0.044       0.025       1.961
oldpeak        0.3693      0.255      1.446      0.148      -0.131       0.870
slope          0.6106      0.439      1.390      0.165      -0.251       1.472
ca             0.9819      0.315      3.120      0.002       0.365       1.599
thal           0.3474      0.124      2.801      0.005       0.104       0.590
==============================================================================
0.9944442574640204

In [121]:
# train으로 로지스틱 회귀 진행했을 경우 잔차 이탈도 (residual deviance)를 계산하라

print(-2 * model.llf)

134.49903911342716

In [123]:
# train으로 로지스틱 회귀 진행했을 경우 로짓 우도값을 도출하라
print(model.llf)

-67.24951955671358

In [124]:
#test 데이터의 독립변수로 target 예측 후 오류율을 구하여라

In [149]:
from sklearn.metrics import accuracy_score
test_pred = (model.predict(test.drop(columns= ['target'])) > 0.5).astype('int64')

error_rate = 1 - accuracy_score(test['target'], test_pred)
print(error_rate)

0.1954022988505747

In [150]:
#A 도시의 남성 600명과 여성 550명이 있다. 남성들 중 흡연자 비율은 0.2이며 여성들 중 흡연자 비율은 0.26이다.
# 남성과 여성 간에 흡연 여부에 따른 인구 비율이 다른지 확인하고 싶다. 유의 수준 0.05하 귀무가설에 대해 기각 / 채택 여부와 p-value값을 각각 출력하라

In [164]:
man = 600
woman = 550

smoke_man_ratio = 0.2
smoke_woman_ratio = 0.26

smoke_man = int(man * smoke_man_ratio)
nosmoke_man = int(man - smoke_man)

smoke_woman = int(woman * smoke_woman_ratio)
nosmoke_woman = int(woman - smoke_woman)

table = [[smoke_man,nosmoke_man], [smoke_woman,nosmoke_woman]]
print(table)
from scipy.stats import chi2_contingency
print(chi2_contingency(table))

if 0.018786854975740765 > 0.05 : 
    print("채택")
else :
    print("기각")

[[120, 480], [143, 407]]
Chi2ContingencyResult(statistic=np.float64(5.521247671393307), pvalue=np.float64(0.018786854975740765), dof=1, expected_freq=array([[137.2173913, 462.7826087],
       [125.7826087, 424.2173913]]))
기각

In [165]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/28/p7.csv')
df.head()

   age  Cholesterol  weight
0   65         69.0   111.0
1   54        117.0    81.0
2   61         86.2    72.0
3   57         76.0    78.0
4   62        160.0    61.0

In [166]:
# age와 Cholesterol을 가지고 weight를 예측하는 선형 회귀 모델을 만들려고한다. age의 회귀 계수를 구하여라

In [172]:
from statsmodels.formula.api import ols

formula = ('weight ~+age+Cholesterol')
model = ols(formula, data =df).fit()
print(model.summary())
print(model.params['age'])

                            OLS Regression Results
==============================================================================
Dep. Variable:                 weight   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     7.574
Date:                Tue, 03 Jun 2025   Prob (F-statistic):           0.000608
Time:                        15:28:04   Log-Likelihood:                -1374.9
No. Observations:                 333   AIC:                             2756.
Df Residuals:                     330   BIC:                             2767.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      74.8953      4.455     16.813      0.000      66.132      83.658
age            -0.0361      0.059     -0.611      0.542      -0.152       0.080
Cholesterol     0.0819      0.022      3.716      0.000       0.039       0.125
==============================================================================
Omnibus:                       15.848   Durbin-Watson:                   2.033
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.569
Skew:                           0.471   Prob(JB):                     0.000153
Kurtosis:                       3.617   Cond. No.                         701.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
-0.03610166914386536

In [175]:
# age가 고정일 때 Cholesterol와 weight가 선형관계에 있다는 가설을 유의수준 0.05하에 검정하라

if 0.000 < 0.05:
    print("선형관계가 있다")
else : 
    print("선형관계가 없다")

선형관계가 있다

In [176]:
# age가 55, Cholesterol가 72.6일때 위 모델을 기반으로 weight값을 예측하라.

In [183]:
result = pd.DataFrame({'age':[55] , 'Cholesterol': [72.6]})
model.predict(result).values[0]

np.float64(78.8577101134459)

In [197]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_1.csv')
df.head()

       ID  height
0  user_1  164.57
1  user_2  174.99
2  user_3  171.41
3  user_4  162.47
4  user_5  167.11

In [185]:
# 55명 학생들의 키에 대한 표본 평균을 구하여라(반올림하여 소숫점 3째자리까지

In [187]:
round(df['height'].mean(),3)

np.float64(169.937)

In [202]:
from scipy.stats import t

n = len(df['height'])
std = df['height'].std()
ddof = n - 1
con = 0.95
t_value = t.ppf((1 +con) / 2, ddof)

print(round(t_value,4))

2.0049

In [203]:
# 95% 신뢰구간을 구하여라(print(lower,upper) 방식으로 출력, 각각의 값은 소숫점 이하 3째자리까지)

In [215]:
lower = df['height'].mean()- t_value * std / np.sqrt(n)
upper = df['height'].mean()+ t_value * std / np.sqrt(n)
print(round(lower,3))
print(round(upper,3))

168.321
171.553

In [216]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_2.csv')
df.head()

  ID      value
0  A  84.179434
1  A  93.971003
2  A  62.140957
3  A  72.911723
4  A  79.252747

In [217]:
# 3 그룹의 데이터에 대해 크루스칼-왈리스 검정을 사용하여 검정 통계량을 반올림하여 소숫점 이하 3자리까지 구하여라

In [228]:
from scipy.stats import kruskal
a = df[df['ID'] == 'A']['value']
b = df[df['ID'] == 'B']['value']
c = df[df['ID'] == 'C']['value']
stats, p = kruskal(a,b,c)
print(round(stats,3))

6.521

In [230]:
# 3 그룹의 데이터에 대해 크루스칼-왈리스 검정을 사용하여 p-value를 반올림하여 소숫점 이하 3자리까지 구하여라. 
#귀무가설과 대립가설중 0.05 유의수준에서 유의한 가설을 출력하라

In [233]:
print(round(p,3))

if 0.038 > 0.05:
    print("귀무가설") # 제품 길이 차이가 없다 
else : 
    print("대립가설") # 제품 길이가 차이가 있다

0.038
대립가설

In [234]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p3_1_.csv')
df.head()

         학번     학과 성별
0  DFSKJK_1   경영학과  여
1  DFSKJK_2   사회학과  여
2  DFSKJK_3  기계공학과  여
3  DFSKJK_4   경제학과  남
4  DFSKJK_5  기계공학과  여

In [235]:
# 학과 평균 인원에 대한 값을 소숫점 이하 3자리까지 구하여라

In [237]:
round(df.groupby("학과").size().mean(),3)

np.float64(170.333)

In [239]:
# 카이제곱검정 독립성 검정 통계량을 소숫점 이하 3자리까지 구하여라
# 학생들의 학과와 성별이 서로 독립적인지 여부를 확인하기 위해 카이제곱 독립성 검정을 실시 하려한다.

In [248]:
from scipy.stats import chi2_contingency
table = pd.crosstab(df['학과'], df['성별'])
print(chi2_contingency(table))
print(round(5.646488667066097,3))

Chi2ContingencyResult(statistic=np.float64(5.646488667066097), pvalue=np.float64(0.342150057349799), dof=5, expected_freq=array([[159.55772994, 161.44227006],
       [ 84.50097847,  85.49902153],
       [121.28375734, 122.71624266],
       [ 49.20939335,  49.79060665],
       [ 29.32681018,  29.67318982],
       [ 64.12133072,  64.87866928]]))
5.646

In [249]:
# 카이제곱검정 독립성 검정의 pvalue를 소숫점 이하 3자리까지 구하여라. 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 것을 출력하라

In [251]:
print(round(0.342150057349799,3))

if 0.342 > 0.05:
    print("귀무")
else :
    print("대립")

0.342
귀무

In [252]:
# 어느 학교에서 수학 시험을 본 학생 100명 중 60명이 60점 이상을 받았다. 이 학교의 수학 시험의 평균 점수가 50점 이상인지 95%의 신뢰 수준에서 검정하려한다.

In [262]:
# 검정 통계량을 소숫점 이하 3자리에서 구하시오
# 비율에 대한 z 검정 = z-score

n = 100
p_hat = 0.6
p = 0.5
con = 0.05

import numpy as np

t = (p_hat -p) / np.sqrt(p * (1 - p) / n)
round(t,5)

np.float64(2.0)

In [267]:
# pvalue를 소숫점 이하 3자리까지 구하고 귀무가설과 대립가설중 유의한 것을 출력하라

from scipy.stats import norm

print(round(1 - norm.cdf(t),3))

pvalues = round(1 - norm.cdf(t),3)

if pvalues > 0.05:
    print("귀무")
else:
    print("대립")

0.023
대립

In [268]:
# 투약 후 체중에서 투약 전 체중을 뺏을 때 값은 일반 적으로 세가지 등급으로 나눈다.
#-3이하 : A등급, -3초과 0이하 : B등급, 0 초과 : C등급. 약 실험에서 
#A,B,C 그룹간의 인원 수 비율은 2:1:1로 알려져 있다. 위 데이터 표본은 각 범주의 비율에 적합한지 카이제곱 검정하려한다.

In [304]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv')
df.head()

       ID     투약전     투약후
0  user_1  55.137  56.106
1  user_2  66.584  60.409
2  user_3  52.259  50.639
3  user_4  77.081  69.164
4  user_5  62.677  57.622

In [307]:
from scipy.stats import chisquare

# A등급에 해당하는 유저는 몇명인지 확인하라

df['diff'] = df['투약후'] - df['투약전']

def g(x):
    if x <= -3:
        return 'A등급'
    if x > -3 and x <= 0:
        return 'B등급'
    if x > 0 :
        return 'C등급'
df['등급'] = df['diff'].apply(g)
counts = df['등급'].value_counts().sort_index()
total = counts.sum()
expect = [total * 0.5 , total *  0.25 , total * 0.25]

stats, p = chisquare(counts,expect)

print(round(stats,3))

3.613

In [279]:
from scipy import stats

list(filter(lambda x : 'chi' in x , dir(stats)))

['chi', 'chi2', 'chi2_contingency', 'chisquare', 'friedmanchisquare']

In [309]:
print(round(p,3))

if 0.164 > 0.05:
    print("귀무")
else:
    print("대립")

0.164
귀무

In [310]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2_.csv')
df.head()

     rpm group
0  163.6     A
1  246.9     A
2  234.9     A
3  156.9     A
4  226.6     A

In [311]:
# A,B 공장 각각 정규성을 가지는지 샤피로 검정을 통해 확인하라. (각 공장의 pvalue 출력할 것)

In [318]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2_.csv')
df.head()

     rpm group
0  163.6     A
1  246.9     A
2  234.9     A
3  156.9     A
4  226.6     A

In [319]:
from scipy.stats import shapiro

In [327]:
a = df[df['group'] == 'A']['rpm']
b = df[df['group'] == 'B']['rpm']

print(shapiro(a))
print(shapiro(b))

ShapiroResult(statistic=np.float64(0.9863896921013734), pvalue=np.float64(0.3979080924239819))
ShapiroResult(statistic=np.float64(0.9943944976838186), pvalue=np.float64(0.9562843067714428))

In [329]:
# 등분산성 
from scipy.stats import levene
print(levene(a,b))

LeveneResult(statistic=np.float64(0.014634456943777612), pvalue=np.float64(0.9038351280607178))

In [335]:
# B공장 제품들의 rpm이 A 공장 제품의 rpm보다 크다고 말할 수 있는지 검정하라. pvalue를 소숫점 이하 3자리까지 출력하고 귀무가설, 대립가설 중 하나를 출력하라*

In [334]:
from scipy.stats import ttest_rel
stats, p = ttest_rel(b,a, alternative = 'greater')
print(stats)
print(p)

2.408800138279077
0.00892720834671119

In [365]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p3_1.csv')
df.head(5)

     fish   height
0  fish_1  33.74cm
1  fish_2  31.64cm
2  fish_3  27.49cm
3  fish_4  31.43cm
4  fish_5  27.56cm

In [366]:
# 122마리의 height 평균값을 m(미터) 단위로 소숫점 이하 5자리까지 실수 값만 출력하라

In [367]:
df['height'] = df['height'].str.replace('cm',' ').astype('float')
result = df['height'].mean() / 100
round(result,5)

np.float64(0.29951)

In [368]:
# 모집단의 평균 길이가 30cm 인지 확인하려 일표본 t 검정을 시행하여 확인하려한다. 검정통계량을 소숫점 이하 3째자리까지 구하여라

In [372]:
from scipy.stats import ttest_1samp
stats , p = ttest_1samp(df['height'], 30)
print(round(stats,3))

-0.217

In [373]:
# 위의 통계량에 대한 p-값을 구하고 (반올림하여 소숫점 이하 3째자리), 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 가설을 하나를 선택하시오(귀무/대립

In [375]:
print(round(p,3))

if 0.829 > 0.05:
    print("귀무")
else :
    print("대립")

0.829
귀무

In [376]:
# 조사결과 70%의 성인 남성이 3년 동안에 적어도 1번 치과를 찾는다고 할때, 21명의 성인 남성이 임의로 추출되었다고 하자.

In [377]:
n = 21 
p = 0.7

In [382]:
# 21명 중 16명 미만이 치과를 찾았을 확률(반올림하여 소숫점 이하 3자리)

from scipy.stats import binom

p = 0.7
n = 21 
k = 16 

result = binom.cdf(k-1,n,p)
print(result)

0.6372880857234828

In [383]:
# 적어도 19명이 치과를 찾았을 확률(반올림하여 소숫점 이하 3자리)

In [386]:
a   
n = 21
p = 0.7
k = 19
result = 1-  binom.cdf(k-1,n,p)
print(result)

0.027129370541188025