In [179]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[Ïã†Î≥ë] Î¨ºÏûêÏ∞ΩÍ≥†,Ïû•ÏÇêÏ≠à,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ÎπÑ) - ÎÇòÎ°ú Î∞îÍæ∏Ïûê Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ÎÖÑ Ï†úÏïºÏùò Ï¢Ö Ïò®ÎùºÏù∏ ÌÉÄÏ¢ÖÌñâÏÇ¨ | Î≥¥Ïã†Í∞Å ÌòÑÏû• ÌñâÏÇ¨Îäî ÏßÑÌñâÌïòÏßÄ ÏïäÏäµÎãàÎã§.,ÏÑúÏö∏Ïãú ¬∑ Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,Í≥†Í∏∞ÎÇ®ÏûêÏùò Ïπ†Î©¥Ï°∞ ÌååÌã∞,Í≥†Í∏∞ÎÇ®Ïûê MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,Í≥®Î™© 3mcÎ•º Î∂ÑÎÖ∏ÌïòÍ≤å ÎßåÎì† ÎßàÏùåÍ≥†ÏÉùÏù¥ Ïã¨ÌñàÏùÑ Í≥µÎ¶â Î∞±Î∞òÏßë ÏÇ¨Ïû•ÎãòÏùò Ìë∏ÎÖê?! [ÏòàÎä•...,Ïä§Î∏åÏä§Î∞•Ïßë,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [2]:
#Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Ï†úÏûëÌöüÏàòÍ∞Ä ÎßéÏùÄ Ï±ÑÎÑê ÏÉÅÏúÑ 10Í∞úÎ™ÖÏùÑ Ï∂úÎ†•ÌïòÎùº (ÎÇ†ÏßúÍ∏∞Ï§Ä, Ï§ëÎ≥µÌè¨Ìï®)

In [15]:
df.value_counts('channelTitle').head(10).index

Index(['Ïß§Ìà∞', 'ÌååÎøåÎ¶¨', 'SPOTV', 'Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê', 'Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê', 'Ïû•ÏÇêÏ≠à',
       'BANGTANTV', 'Ï±ÑÎÑê Ïã≠Ïò§Ïïº', 'Ïù¥Í≥ºÏû•', 'Ï¥ùÎ™áÎ™Ö'],
      dtype='object', name='channelTitle')

In [16]:
#ÎÖºÎûÄÏúºÎ°ú Ïù∏Í∏∞ÎèôÏòÅÏÉÅÏù¥ Îêú ÏºÄÏù¥Ïä§Î•º ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§. dislikesÏàòÍ∞Ä like ÏàòÎ≥¥Îã§ ÎÜíÏùÄ ÎèôÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùÑ Î™®Îëê Ï∂úÎ†•ÌïòÎùº

In [38]:
cond1 = df['dislikes'] > df['likes']
result = df.loc[cond1]['channelTitle']
print(set(result))

{'ÏÇ¨ÎÇòÏù¥ ÍπÄÍ∏∞Ìõà', 'Ïò§Î©îÌÇ¥TV', 'ÏôúÎÉêÎß®ÌïòÏö∞Ïä§', 'ASMR Ïï†Ï†ïTV', 'Ï≤†Íµ¨Ìòï (CHULTUBE)', 'Gen.G esports', 'Ïú°ÏßÄÎã¥', 'ÌïòÏñÄÌä∏Î¶¨HayanTree', 'ROAD FIGHTING CHAMPIONSHIP', '(MUTUBE)ÏôÄÍæ∏ÎåÄÏû•Î¥âÏ§Ä', 'Ìï´ÎèÑÍ∑∏TV', 'MapleStory_KR', 'ÏñëÌå° YangPang', 'ÎÇòÌòºÏûêÏÇ∞Îã§ STUDIO'}

In [39]:
# Ï±ÑÎÑêÎ™ÖÏùÑ Î∞îÍæº ÏºÄÏù¥Ïä§Í∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§. channelIdÏùò Í≤ΩÏö∞ Í≥†Ïú†Í∞íÏù¥ÎØÄÎ°ú Ïù¥Î•º ÌÜµÌï¥ Ï±ÑÎÑêÎ™ÖÏùÑ ÌïúÎ≤àÏù¥ÎùºÎèÑ Î∞îÍæº Ï±ÑÎÑêÏùò Í∞ØÏàòÎ•º Íµ¨ÌïòÏó¨Îùº

In [56]:
result = df.groupby('channelId')['channelTitle'].nunique()
result = result[result > 1]
len(result)

71

In [57]:
# ÏùºÏöîÏùºÏóê Ïù∏Í∏∞ÏûàÏóàÎçò ÏòÅÏÉÅÎì§Ï§ë Í∞ÄÏû•ÎßéÏùÄ ÏòÅÏÉÅ Ï¢ÖÎ•ò(categoryId)Îäî Î¨¥ÏóáÏù∏Í∞Ä?

In [111]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
# datetime Î≥ÄÌôò => pd.to_datetime()
df['weekend'] = df['trending_date2'].dt.day_name()  # day_name ÌåêÎã§Ïä§ ÏûêÏ≤¥ Í∏∞Îä•  => dtÎ•º ÏÇ¨Ïö©Ìï†Î†§Î©¥ weekday
df[df['weekend'] == 'Sunday'].value_counts('categoryId').index[0]

np.int64(24)

# ÎÇ†Ïßú Î©îÏÜåÎìú Ï∞æÍ∏∞
from datetime import datetime

dt = datetime.now()

list(filter(lambda x : 'day_name' in x ,dir(dt)))

- dt.day_name() => ÌåêÎã§Ïä§ ÏûêÏ≤¥Í∏∞Îä•
- dt.weekday => 0 ÏõîÏöîÏùº ~ 6 ÏùºÏöîÏùº

In [156]:
from datetime import datetime

dt = datetime.now()

list(filter(lambda x : 'day' in x ,dir(dt)))

['day', 'isoweekday', 'today', 'weekday']

In [112]:
# Í∞Å ÏöîÏùºÎ≥Ñ Ïù∏Í∏∞ ÏòÅÏÉÅÎì§Ïùò categoryIdÎäî Í∞ÅÍ∞Å Î™áÍ∞ú Ïî©Ïù∏ÏßÄ ÌïòÎÇòÏùò Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑÌïòÎùº

In [120]:
df.groupby(['categoryId','weekend']).size().unstack()

weekend     Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1              243     263       255     274       246      257        234
2              120     105       119      99       128      119        129
10             833     837       776     830       890      894        917
15             187     215       198     217       207      208        207
17             633     668       592     636       682      708        706
19              90      92        87      91        92       89         85
20             283     298       296     289       282      285        291
22            1288    1373      1289    1337      1341     1375       1333
23             568     594       570     556       560      569        566
24            2976    3148      3066    3096      2954     3084       3090
25             444     453       422     437       470      452        468
26             369     378       364     363       375      394        385
27             183     205       183     199       194      194        212
28             171     160       173     167       166      161        165
29              12      10        10       9        13       11         12

In [121]:
# ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§.
# viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº (view_countÍ∞íÏù¥ 0Ïù∏ Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)

In [139]:
result = df[df['view_count'] != 0]
result['ratio'] = df['comment_count'] / df['view_count']
result.sort_values('ratio',ascending = False)['title'].values[0]

C:\Users\dn011\AppData\Local\Temp\ipykernel_28060\3530582252.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['ratio'] = df['comment_count'] / df['view_count']

'60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)'

In [136]:
#ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§
#.viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÇÆÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº (view_counts, ratioÍ∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§.)

In [143]:
result = df[df['view_count'] != 0]
result['ratio'] = df['comment_count'] / df['view_count']
result = result[result['ratio'] !=0]
result.sort_values('ratio',ascending = True)['title'].values[0]

C:\Users\dn011\AppData\Local\Temp\ipykernel_28060\3847536113.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['ratio'] = df['comment_count'] / df['view_count']

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [144]:
# like ÎåÄÎπÑ dislikeÏùò ÏàòÍ∞Ä Í∞ÄÏû• Ï†ÅÏùÄ ÏòÅÏÉÅÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? (like, dislike Í∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)

In [148]:
result = df[ (df['likes'] != 0) & (df['dislikes'] != 0)] 
result['like_ratio'] = df['dislikes'] / df['likes']
result.sort_values('like_ratio', ascending = True)['title'].values[0]

C:\Users\dn011\AppData\Local\Temp\ipykernel_28060\2176483636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['like_ratio'] = df['dislikes'] / df['likes']

'[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞'

In [149]:
# Í∞ÄÏû•ÎßéÏùÄ Ìä∏Î†åÎìú ÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùò Ïù¥Î¶ÑÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? (ÎÇ†ÏßúÍ∏∞Ï§Ä, Ï§ëÎ≥µÌè¨Ìï®)

In [154]:
df['channelTitle'].value_counts().sort_values(ascending = False).index[0]

'Ïß§Ìà∞'

In [155]:
# 20Ìöå(20Ïùº)Ïù¥ÏÉÅ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Î¶¨Ïä§Ìä∏Ïóê Ìè¨Ìï®Îêú ÎèôÏòÅÏÉÅÏùò Ïà´ÏûêÎäî?

In [181]:
result = df[['title','channelId']].value_counts()
print(result)
count_title = (result >= 20).sum()
count_titles

title                                                                                       channelId
ÎåÄÌïúÎØºÍµ≠ VS Ìà¨Î•¥ÌÅ¨Î©îÎãàÏä§ÌÉÑ : FIFA Ïπ¥ÌÉÄÎ•¥ ÏõîÎìúÏªµ 2Ï∞® ÏòàÏÑ† ÌïòÏù¥ÎùºÏù¥Ìä∏ - 2021.06.05                                     UCpjOmwiy88a9EV3Rv8ukJgw    24
ÏªµÎùºÎ©¥ Î®πÏùÑ Îïå Ï†àÎåÄ ÏùºÏñ¥ÎÇ†Î¶¨ ÏóÜÎäî ÏÉÅÌô©Îì§ „Öã„Öã„Öã                                                                 UCmzMtXrJgfCqA0rfhz8_P4A    24
Í∑πÍ≥º Í∑πÏùÑ ÏÇ¥Í≥† ÏûàÎäî Ïù∏ÎèÑÏùò Í∞ëÎ∂ÄÏôÄ ÎπàÍ≥§Ï∏µÎì§!                                                                   UCi9Sl8GnFdYoqEVXnojBPJw    23
ÎåÄÎ∞ï... Î©ßÎèºÏßÄÎ•º ÏïÑÎì§Î°ú ÏÇºÏùÄ Ìï†ÏïÑÎ≤ÑÏßÄÔΩúKBS Ï£ºÏ£ºÌÅ¥ÎüΩ 050410 Î∞©ÏÜ°                                                   UCAhKKbDO9-ymWZ_7iAFLBQQ    23
2Ï£ºÎçîÎÜÄÎ¶¥ÏòàÏ†ï                                                                                     UCaKod3X1Tn4c7Ci0iUKcvzQ    23
                                                                                                                        ..
ÏùºÏ£ºÏùº ÏùºÏÉÅ Î™®Ïùå vlog„Ö£ÏùºÎ≥∏ÏóêÏÑú Î∞±Ïã† 1,2Ï∞® Ï†ëÏ¢ÖÌïòÍ∏∞üíä (ft.Î∂ÄÏûëÏö©&ÌõÑÍ∏∞)„Ö£ÏùºÎ≥∏Ïù∏ ÎÇ®ÏπúÏóêÍ≤å Í∞ÑÌò∏Î∞õÍ∏∞ üõè„Ö£ÌïúÍµ≠ÏóêÏÑú Ïò® Íµ≠Ï†úÌÉùÎ∞∞ Ïñ∏Î∞ïÏã±„Ö£ÌÜ†Î™® Ïñ¥Î®∏ÎãàÌëú ÏßëÎ∞•    UCoQy2wS5aiKCk-rUXiLS-vQ     1
10ÏõîÏóê ÌïúÌååÏ£ºÏùòÎ≥¥ÎùºÎãà... ÏñºÏñ¥ Ï£ΩÏùÑ Îªî...                                                                  UCZ1wYQHk1yVle18u8FA8AvA     1
üó£Ô∏èÏÜêÎãò Ïñ¥ÎîîÍπåÏßÄ Í∞ÄÏÑ∏Ïöî? üëãÏ°∞ÌöåÏàò 500ÎßåÍπåÏßÄ Í∞ÄÍ≥† Ïã∂Ïñ¥Ïó¨  üöï| ÌÉùÏãúÍ∏∞ÏÇ¨ ÏßÅÏóÖÏ≤¥Ìóò Î¶¨Î∑∞ | ÏõåÌÅ¨Îß® ep.115                             UCwx6n_4OcLgzAGdty0RWCoA     1
[ÎÆ§ÎπÑÌï¥ÏÑù] ÏïÑÏù¥Ïú† Ìå¨Îì§Ïù¥ Ïù¥Î≤à Ïï®Î≤îÏóê Í≥ºÎ™∞ÏûÖÌï† ÏàòÎ∞ñÏóê ÏóÜÎäî Ïù¥Ïú† ü§¶‚Äç‚ôÄÔ∏è„Ö£ÏïÑÏù¥Ïú† 'ÎùºÏùºÎùΩ'„Ö£IU ‚ÄòLILAC‚Äô MV explained & theory        UCfbn_7tdW97URJyy865cIdA     1
üí©ÎÉÑÏÉà ÏßÄÏò• ÎëêÎ¶¨Ïïà ÏºÄÏù¥ÌÅ¨Î•º ÎßõÎ≥∏ Ï≠àÎãàÌòïÏùò Î∞òÏùë?üòñ Î∞òÎ∞±ÏÇ¥ ÏûÖÏùÄ Î™ª ÏÜçÏù¥ÏßÄ! ÌÉúÍµ≠ ÏùåÏãù ÎßõÏßë ÎåÄÌÉêÎ∞©!üçú  lÎ®πÎ∞©(mukbang) l ÏôÄÏçπÎß®2 ep.40 l Î∞ïÏ§ÄÌòï  UCYgUhR7EGKauFXgJS0pckGg     1
Name: count, Length: 7867, dtype: int64

NameError: name 'count_titles' is not defined

In [283]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ÍΩàÎöúÎ£π
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ÍΩàÎöúÎ£π
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ÍΩàÎöúÎ£π
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ÍΩàÎöúÎ£π
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ÍΩàÎöúÎ£π

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,Í≥µÎ≤î EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,Í≥µÎ≤î EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,Í≥µÎ≤î EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,Í≥µÎ≤î EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,Í≥µÎ≤î EP1

In [183]:
# Í∞Å Îç∞Ïù¥ÌÑ∞Ïùò ‚Äòct‚ÄôÏª¨ÎüºÏùÑ ÏãúÍ∞ÑÏúºÎ°ú Ïù∏ÏãùÌï†Ïàò ÏûàÍ≤å datatypeÏùÑ Î≥ÄÍ≤ΩÌïòÍ≥† 
#video Îç∞Ïù¥ÌÑ∞Ïùò videonameÏùò Í∞Å value ÎßàÎã§ Î™áÍ∞úÏùò Îç∞Ïù¥ÌÑ∞Ïî© Í∞ÄÏßÄÍ≥† ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÎùº

In [186]:
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])
video.groupby('videoname').size()

videoname
Í≥µÎ≤î EP1    3492
Í≥µÎ≤î EP2    3204
Í≥µÎ≤î EP3    2568
Í≥µÎ≤î EP4    2280
Í≥µÎ≤î EP5    1562
Í≥µÎ≤î EP6    1274
Í≥µÎ≤î EP7     555
Í≥µÎ≤î EP8     266
dtype: int64

In [187]:
# ÏàòÏßëÎêú Í∞Å videoÏùò Í∞ÄÏû• ÏµúÏã†Ìôî Îêú ÎÇ†ÏßúÏùò viewcountÍ∞íÏùÑ Ï∂úÎ†•ÌïòÎùº

In [209]:
result = video.sort_values('ct',ascending = False).drop_duplicates('videoname',keep='first')
result[['viewcnt','videoname','ct']].sort_values('videoname', ascending = True).reset_index(drop =True)

   viewcnt videoname                  ct
0  3180532    Í≥µÎ≤î EP1 2021-11-01 15:30:03
1  2199328    Í≥µÎ≤î EP2 2021-11-01 15:30:03
2  1671294    Í≥µÎ≤î EP3 2021-11-01 15:30:03
3  1818493    Í≥µÎ≤î EP4 2021-11-01 15:30:03
4  1503435    Í≥µÎ≤î EP5 2021-11-01 15:30:04
5  1750222    Í≥µÎ≤î EP6 2021-11-01 15:30:04
6  1630200    Í≥µÎ≤î EP7 2021-11-01 15:30:05
7  1289088    Í≥µÎ≤î EP8 2021-11-01 15:30:05

In [210]:
# Channel Îç∞Ïù¥ÌÑ∞Ï§ë 2021-10-03Ïùº Ïù¥ÌõÑ Í∞Å Ï±ÑÎÑêÏùò Ï≤òÏùå Í∏∞Î°ù ÎêêÎçò Íµ¨ÎèÖÏûê Ïàò(subcnt)Î•º Ï∂úÎ†•ÌïòÎùº

In [223]:
result = channel[channel['ct'] >= '2021-10-03'].sort_values(['ct','channelname']).drop_duplicates('channelname')
result[['channelname','subcnt']].reset_index(drop = True)

        channelname   subcnt
0            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞   922000
1             ÏïºÏ†ÑÏÇΩÏß±Ïû¨   257000
2        Ï∏ÑÏ†ïChuJeong   322000
3        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂     7520
4       Î¶¥ÌéÑ Lilpearl    10100
5   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle    55000
6               Ï°∞ÎÇòÎã®   215000
7           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§    14900
8     Balming Tiger    54300
9     Í≥ΩÌÜ†Î¶¨ kwak tori   471000
10              ÍΩàÎöúÎ£π  1330000

In [224]:
# Í∞ÅÏ±ÑÎÑêÏùò 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ÍπåÏßÄ Íµ¨ÎèÖÏûêÏàò (subcnt) Ïùò Ï¶ùÍ∞ÄÎüâÏùÑ Íµ¨ÌïòÏó¨Îùº

In [293]:
df = channel[(channel['ct'] >= '2021-10-03 03:00:00') & (channel['ct'] <= '2021-11-01 15:00:00')]
df =df.sort_values(['channelname','ct'])

start_df = df.drop_duplicates('channelname', keep='first')[['channelname','subcnt']].reset_index(drop = True)
end_df = df.drop_duplicates('channelname', keep='last')[['channelname','subcnt']].reset_index(drop = True)

result = pd.merge(start_df, end_df, on = 'channelname')
result
result['diff_cnt'] = result['subcnt_y'] - result['subcnt_x']
result[['channelname','diff_cnt']].sort_values('diff_cnt',ascending =False).reset_index(drop=True)

        channelname  diff_cnt
0               ÍΩàÎöúÎ£π     70000
1               Ï°∞ÎÇòÎã®     12000
2             ÏïºÏ†ÑÏÇΩÏß±Ïû¨     11000
3       Î¶¥ÌéÑ Lilpearl     11000
4           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§     10300
5     Balming Tiger      2500
6        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂      1540
7        Ï∏ÑÏ†ïChuJeong      1000
8   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle         0
9     Í≥ΩÌÜ†Î¶¨ kwak tori     -2000
10           ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞    -11000

In [294]:
# Í∞Å ÎπÑÎîîÏò§Îäî 10Î∂Ñ Í∞ÑÍ≤©ÏúºÎ°ú Íµ¨ÎèÖÏûêÏàò, Ï¢ãÏïÑÏöî, Ïã´Ïñ¥ÏöîÏàò, ÎåìÍ∏ÄÏàòÍ∞Ä ÏàòÏßëÎêúÍ≤ÉÏúºÎ°ú ÏïåÎ†§Ï°åÎã§. 
#Í≥µÎ≤î EP1Ïùò ÎπÑÎîîÏò§Ï†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞Ï§ë ÏàòÏßëÍ∞ÑÍ≤©Ïù¥ 5Î∂Ñ Ïù¥Ìïò, 20Î∂ÑÏù¥ÏÉÅÏù∏ Îç∞Ïù¥ÌÑ∞ Íµ¨Í∞Ñ( Ìï¥Îãπ ÏãúÏ†ê Ï†Ñ,ÌõÑ) Ïùò ÏãúÍ∞ÅÏùÑ Î™®Îëê Ï∂úÎ†•ÌïòÎùº

In [353]:
import datetime
result = video[video['videoname'].str.contains("1")].sort_values('ct').reset_index(drop =True)

cond1 = (result['ct'].diff() >= datetime.timedelta(minutes = 20))
cond2 = (result['ct'].diff() <= datetime.timedelta(minutes = 5))

result = result[ cond1 | cond2]
result # 720, 721 , 723, 724 , 1635 , 1636 , 1637

video.iloc[[720, 721 , 723, 724 , 1635 , 1636 , 1637],:]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,minute
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,Í≥µÎ≤î EP1,20
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,Í≥µÎ≤î EP1,41
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,Í≥µÎ≤î EP1,50
724,c5JQp6xafqc,2228833,34568,849,0,7194,2021-10-13 10:00:03,Í≥µÎ≤î EP1,0
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,Í≥µÎ≤î EP1,50
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,Í≥µÎ≤î EP1,20
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,Í≥µÎ≤î EP1,30

import datetime as dt 

dt = datetime.now()

print(list(filter(lambda x : 'min' in x , dir(dt))))

In [ ]:
# 15Î≤à