In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [2]:
#Legendary 컬럼은 전설포켓몬 유무를 나타낸다.전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라

In [7]:
df[df['Legendary'] == True]['HP'].mean() - df[df['Legendary'] == False]['HP'].mean()

np.float64(25.55614861329147)

In [9]:
#Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?
df['Type 2'].value_counts().idxmax()

'Flying'

In [13]:
#가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?
df['Type 1'].value_counts().idxmax()
result = df[df['Type 1'] == 'Water']
result['Attack'].mean() / result['Defense'].mean()

np.float64(1.0165238678090576)

In [17]:
#포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?
df[df['Legendary'] == True]['Generation'].value_counts().idxmax()

np.int64(3)

In [18]:
#‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

In [27]:
result= df[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']].abs().corr().unstack()
result = result[result!=1]
result.sort_values(ascending = False)  # Defense  Sp. Def    0.510747

Defense  Sp. Def    0.510747
Sp. Def  Defense    0.510747
Sp. Atk  Sp. Def    0.506121
Sp. Def  Sp. Atk    0.506121
Sp. Atk  Speed      0.473018
Speed    Sp. Atk    0.473018
Defense  Attack     0.438687
Attack   Defense    0.438687
         HP         0.422386
HP       Attack     0.422386
Sp. Atk  Attack     0.396362
Attack   Sp. Atk    0.396362
         Speed      0.381240
Speed    Attack     0.381240
HP       Sp. Def    0.378718
Sp. Def  HP         0.378718
Sp. Atk  HP         0.362380
HP       Sp. Atk    0.362380
Attack   Sp. Def    0.263990
Sp. Def  Attack     0.263990
Speed    Sp. Def    0.259133
Sp. Def  Speed      0.259133
HP       Defense    0.239622
Defense  HP         0.239622
Sp. Atk  Defense    0.223549
Defense  Sp. Atk    0.223549
HP       Speed      0.175952
Speed    HP         0.175952
Defense  Speed      0.015227
Speed    Defense    0.015227
dtype: float64

In [28]:
# 각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

In [45]:
df[['Generation','Attack']].sort_values('Attack').groupby('Generation').head(3)['Attack'].mean()

np.float64(19.5)

In [46]:
# 각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라

In [47]:
df[['Generation','Attack']].sort_values('Attack',ascending = False).groupby('Generation').head(3)['Attack'].mean()

np.float64(165.33333333333334)

In [48]:
# 가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?

In [55]:
df[['Type 1','Type 2']].value_counts().index[0]

('Normal', 'Flying')

In [56]:
# 한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?

In [62]:
result = df[['Type 1','Type 2']].value_counts()
result = result[result ==1]
len(result)

39

In [63]:
#한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?

In [123]:
result = df[['Type 1','Type 2']].value_counts()
result = result[result ==1].index  # -> 데이터가 튜플이리서 튜플로 변환 => apply(tuple, axis = 1)
filtered = df[df[['Type 1', 'Type 2']].apply(tuple, axis=1).isin(result)]
print(filtered['Generation'].value_counts().sort_index())

Series([], Name: count, dtype: int64)