In [206]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [2]:
#데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라

In [20]:
df[df['행복랭킹'] == 10]['점수'].mean()

np.float64(7.259)

In [21]:
# 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라

In [38]:
result = df[df['행복랭킹'] <= 50]
result.groupby(['년도'])['점수'].mean()

년도
2018    6.64678
2019    6.67002
Name: 점수, dtype: float64

In [39]:
# 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라

In [46]:
result = df[df['년도'] == 2018]
result = result[['점수','부패에 대한인식']].corr().unstack()
result = result[result!=1]
result

점수        부패에 대한인식    0.405292
부패에 대한인식  점수          0.405292
dtype: float64

In [47]:
#2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라

In [79]:
# 1. 연도별로 필터링
result18 = df[df['년도'] == 2018]
result19 = df[df['년도'] == 2019]

# 2. 랭킹 순으로 정렬 (정확한 비교 위해)
result18_sorted = result18.sort_values(by='행복랭킹').reset_index(drop=True)
result19_sorted = result19.sort_values(by='행복랭킹').reset_index(drop=True)

# 3. 나라명만 추출
countries18 = result18_sorted['나라명']
countries19 = result19_sorted['나라명']

same_country = countries18 == countries19
print(same_country.sum())

15

In [80]:
# 2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후
#상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1,v2,corr으로 표시하라

In [129]:
result = df[df['년도'] == 2019]
result= result.select_dtypes(exclude='object')
result = result.drop(['행복랭킹','년도'] , axis = 1).corr()
result = result[result!=1]
result = result.unstack().sort_values(ascending =False).head(5).reset_index()
result.columns = ['v1', 'v2', 'corr']
result

      v1     v2      corr
0  상대GDP  행복기대치  0.835462
1  행복기대치  상대GDP  0.835462
2  상대GDP     점수  0.793883
3     점수  상대GDP  0.793883
4  행복기대치     점수  0.779883

In [130]:
# 각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라

In [148]:
df.groupby('년도').tail(5).groupby('년도')['점수'].mean()

년도
2018    3.1800
2019    3.1408
Name: 점수, dtype: float64

In [149]:
# 2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라

In [157]:
result = df[df['년도'] == 2019]

mean_high = result[result['상대GDP'] >= result['상대GDP'].mean()]['점수'].mean()
mean_low = result[result['상대GDP'] <= result['상대GDP'].mean()]['점수'].mean()
print(mean_high - mean_low)

1.390483957219251

In [160]:
# 각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라

In [191]:
df.sort_values(['년도','부패에 대한인식'],ascending = False).groupby("년도").head(20).groupby("년도")['부패에 대한인식'].mean()

년도
2018    0.3267
2019    0.3201
Name: 부패에 대한인식, dtype: float64

In [192]:
# 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라

In [211]:
# 1. 연도별로 필터링
result18 = df[(df['년도'] == 2018)  & (df['행복랭킹'] <= 50)]['나라명']
result19 = df[(df['년도'] == 2019)  & (df['행복랭킹'] <= 50)]['나라명']

result = set(result18) - set(result19)
print(len(result))

4

In [212]:
#2018년,2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는

In [264]:
result18 = df[df['년도'] == 2018][['나라명','점수']]
result19 = df[df['년도'] == 2019][['나라명','점수']]

count = df['나라명'].value_counts()
target = count[count >= 2].index  # 두 해 모두 데이터 있는 나라명 리스트

df18_filtered = result18[result18['나라명'].isin(target)]
df19_filtered = result19[result19['나라명'].isin(target)]

merged = pd.merge(df18_filtered, df19_filtered, on='나라명', suffixes=('_2018', '_2019'))

# 5. 점수 차 계산
merged['점수증가'] = merged['점수_2019'] - merged['점수_2018']

# 6. 점수 증가 가장 큰 나라 찾기
top_country = merged.sort_values(by='점수증가', ascending=False)
top_country

              나라명  점수_2018  점수_2019   점수증가
150       Burundi    2.905    3.775  0.870
132         Benin    4.141    4.883  0.742
135        Guinea    3.964    4.534  0.570
143       Liberia    3.495    3.975  0.480
130         Niger    4.166    4.628  0.462
..            ...      ...      ...    ...
94        Somalia    4.982    4.668 -0.314
65   Turkmenistan    5.636    5.247 -0.389
148   South Sudan    3.254    2.853 -0.401
139   Afghanistan    3.632    3.203 -0.429
33       Malaysia    6.322    5.339 -0.983

[151 rows x 4 columns]

In [265]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [266]:
# DateTime컬럼을 통해 각 월별로 몇개의 데이터가 있는지 데이터 프레임으로 구하여라

In [270]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
df['month'] = df['DateTime'].dt.month
df.groupby('month').size()

month
1     4464
2     4032
3     4464
4     4320
5     4464
6     4320
7     4464
8     4464
9     4320
10    4464
11    4320
12    4320
dtype: int64

In [271]:
# 3월달의 각 시간대별 온도의 평균들 중 가장 낮은 시간대의 온도를 출력하라

In [289]:
df['hour'] = df['DateTime'].dt.hour
result = df[df['month'] ==3]
result.groupby('hour')['Temperature'].mean().sort_values(ascending = False).tail(1)

hour
7    11.506613
Name: Temperature, dtype: float64

In [291]:
# 3월달의 각 시간대별 온도의 평균들 중 가장 높은 시간대의 온도를 출력하라
df['hour'] = df['DateTime'].dt.hour
result = df[df['month'] ==3]
result.groupby('hour')['Temperature'].mean().sort_values(ascending = False).head(1)

hour
15    18.393602
Name: Temperature, dtype: float64

In [292]:
# Zone 1 Power Consumption 컬럼의 value값의 크기가 Zone 2 Power Consumption 컬럼의 value값의 크기보다 큰 데이터들의 Humidity의 평균을 구하여라

In [296]:
df.columns
df[df['Zone 2  Power Consumption'] >= df['Zone 3  Power Consumption']]['Humidity'].mean()

np.float64(68.33275235680026)

In [297]:
# 각 zone의 에너지 소비량의 상관관계를 구해서 데이터 프레임으로 표기하라

In [303]:
df.columns
df[['Zone 1 Power Consumption','Zone 2  Power Consumption','Zone 3  Power Consumption']].corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

In [304]:
# Temperature의 값이 10미만의 경우 A, 10이상 20미만의 경우 B,20이상 30미만의 경우 C, 그 외의 경우 D라고 할때 각 단계의 데이터 숫자를 구하여라

In [307]:
def g(x):
    if x < 10:
        return 'A'
    if x >= 10 and x < 20:
        return 'B'
    if x >= 20 and x < 30:
        return 'C'
    else:
        return 'D'

df['단계'] = df['Temperature'].apply(g)
df['단계'].value_counts()

단계
B    26993
C    21105
A     2874
D     1444
Name: count, dtype: int64

In [308]:
# 6월 데이터중 12시의 Temperature의 표준편차를 구하여라

In [314]:
df[(df['month'] == 6) & (df['hour'] == 12)]['Temperature'].std()

np.float64(2.0499417827951025)

In [315]:
# 6월 데이터중 12시의 Temperature의 분산을 구하여라

In [316]:
df[(df['month'] == 6) & (df['hour'] == 12)]['Temperature'].var()

np.float64(4.202261312849163)

In [317]:
# Temperature의 평균이상의 Temperature의 값을 가지는 데이터를 Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [330]:
df[df['Temperature'] >= df['Temperature'].mean()].sort_values('Temperature',ascending = True)['Humidity'].values[3]

np.float64(89.5)

In [331]:
 #Temperature의 중간값 이상의 Temperature의 값을 가지는 데이터를Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [332]:
df[df['Temperature'] >= df['Temperature'].median()].sort_values('Temperature',ascending = True)['Humidity'].values[3]

np.float64(62.66)