In [3]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e8_p3_1.csv')
df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,Y
0,0.506278,-0.231322,0.759771,-0.172927,-0.687524,-0.556815,-1.381369,1.633690,-0.869129,0.370614,0.615057,-0.416594,-1.175980,0.113494,-0.539230,1
1,0.017220,1.530047,0.676838,1.533623,-0.516027,0.949166,-1.180669,1.895021,-1.211768,-1.081109,-1.067039,-0.611829,0.846854,-0.812381,0.823546,0
2,1.436089,0.038078,-0.120501,0.914955,-1.504149,0.443893,-0.696385,0.245013,1.221166,-1.387287,-1.762048,-0.556466,0.130129,0.517210,1.056730,0
3,-0.926337,-0.665242,-0.106853,-1.111627,-0.127867,0.746742,-0.345943,0.848144,0.374944,-0.951299,1.097359,0.754369,-0.221183,-0.430509,0.756875,1
4,-0.350953,-0.044709,-0.421777,1.359772,-1.619690,-0.645908,-1.717975,-0.598477,1.026014,-0.134644,-0.988988,0.513048,-0.886113,0.247288,-0.016664,0

In [2]:
# y컬럼을 종속변수로하는 로지스틱회귀 모형을 만들 떄 유의미하지 않은 변수의 개수는? % 상수항은 추가하여 모델링하라

In [1]:
import statsmodels.api as sm 

formula = "Y~ X1+X2+X3+X4+X5+X6+X7+X8+X9+X10+X11+X12+X13+X14+X15"
model = sm.Logit.from_formula(formula, data = df).fit()
print(model.summary())

# 0.05 보다 크면 유의미 하지않다 
# 11개

NameError: name 'df' is not defined

In [16]:
#유의한 변수들 만으로 다시 모델링을 해서 X를 포함하는 독립변수들의 회귀계수 합계를 소숫점 이하 3째 자리까지 구하여라 **

In [4]:
import statsmodels.api as sm 

formula = "Y~ X7+X8+X11"
model = sm.Logit.from_formula(formula, data = df).fit()
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.062467
         Iterations 10
                           Logit Regression Results
==============================================================================
Dep. Variable:                      Y   No. Observations:                 2500
Model:                          Logit   Df Residuals:                     2496
Method:                           MLE   Df Model:                            3
Date:                Mon, 26 May 2025   Pseudo R-squ.:                  0.9099
Time:                        18:45:05   Log-Likelihood:                -156.17
converged:                       True   LL-Null:                       -1732.9
Covariance Type:            nonrobust   LLR p-value:                     0.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -2.0523      0.546     -3.756      0.000      -3.123      -0.981
X7            -1.1389      0.323     -3.525      0.000      -1.772      -0.506
X8             0.7529      0.149      5.041      0.000       0.460       1.046
X11            5.9960      0.326     18.374      0.000       5.356       6.636
==============================================================================

In [24]:
1.1562+0.7593+5.9960

7.9115

In [2]:
# 3-2번의 모델 결과에 대해 X뒤의 숫자가 가장 낮은 컬럼이 5단위 늘어나면 오즈비 몇 배로 변화?

In [9]:
import numpy as np
odds_ration = np.exp(-1.1389 * 5)
print(odds_ration)

0.0033644189681234582

In [10]:
# 다중 선형 회귀 모델

In [11]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e8_p3_2.csv')
df.head()

   PIQ   Brain  Height  Weight
0  124   81.69    64.5     118
1  150  103.84    73.3     143
2  128   96.54    68.8     172
3  134   95.15    65.0     147
4  110   92.88    69.0     146

In [24]:
import statsmodels.formula.api as smf

formula = "PIQ ~ Brain+Height+Weight"
model = smf.ols(formula, data = df).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    PIQ   R-squared:                       0.295
Model:                            OLS   Adj. R-squared:                  0.233
Method:                 Least Squares   F-statistic:                     4.741
Date:                Mon, 26 May 2025   Prob (F-statistic):            0.00722
Time:                        18:56:08   Log-Likelihood:                -165.25
No. Observations:                  38   AIC:                             338.5
Df Residuals:                      34   BIC:                             345.1
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    111.3536     62.971      1.768      0.086     -16.619     239.326
Brain          2.0604      0.563      3.657      0.001       0.915       3.205
Height        -2.7319      1.229     -2.222      0.033      -5.230      -0.233
Weight         0.0006      0.197      0.003      0.998      -0.400       0.401
==============================================================================
Omnibus:                        1.379   Durbin-Watson:                   1.827
Prob(Omnibus):                  0.502   Jarque-Bera (JB):                1.088
Skew:                           0.409   Prob(JB):                        0.580
Kurtosis:                       2.859   Cond. No.                     3.73e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.73e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [25]:
# 위에서 계산한 모델을 이용하여 뇌크기 90 키 70 몸무게 150일 때 지능을 예측하라

In [28]:
new_data = pd.DataFrame({'Brain':[90], 'Height':[70], 'Weight':[150]})

predict_data = model.predict(new_data)
print(predict_data)

0    105.635569
dtype: float64

In [32]:
predict_data = model.get_prediction(new_data)
predict_data.summary_frame(alpha=0.05)

,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper
0,105.635569,3.905541,97.698556,113.572583,64.632996,146.638143

In [33]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/28/p7.csv')
df.head()

   age  Cholesterol  weight
0   65         69.0   111.0
1   54        117.0    81.0
2   61         86.2    72.0
3   57         76.0    78.0
4   62        160.0    61.0

In [34]:
# age와 Cholesterol을 가지고 weight를 예측하는 선형 회귀 모델을 만들려고한다. age의 회귀 계수를 구하여라

In [36]:
import statsmodels.formula.api as smf
formula = 'weight~age+Cholesterol'
model = smf.ols(formula, data = df).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 weight   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     7.574
Date:                Mon, 26 May 2025   Prob (F-statistic):           0.000608
Time:                        19:50:12   Log-Likelihood:                -1374.9
No. Observations:                 333   AIC:                             2756.
Df Residuals:                     330   BIC:                             2767.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      74.8953      4.455     16.813      0.000      66.132      83.658
age            -0.0361      0.059     -0.611      0.542      -0.152       0.080
Cholesterol     0.0819      0.022      3.716      0.000       0.039       0.125
==============================================================================
Omnibus:                       15.848   Durbin-Watson:                   2.033
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.569
Skew:                           0.471   Prob(JB):                     0.000153
Kurtosis:                       3.617   Cond. No.                         701.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [37]:
#age가 고정일 때 Cholesterol와 weight가 선형관계에 있다는 가설을 유의수준 0.05하에 검정하라

0.05

In [48]:
result = pd.DataFrame({"age" : [55], "Cholesterol" : [72.6]})
model.predict(result)

0    78.85771
dtype: float64