In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1_.csv')
df.head(5)

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,60L가격,75L가격,100L가격,120L가격,125L가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시

In [2]:
#20L가격과 5L가격이 모두 0원이 아닌 데이터만 필터를 한 후, 
#각 row별로 20L가격과 5L가격의 차이를 ‘차이가격’ 이라 부른다고 하자. 
#시도명 별 차이가격의 평균가격을 비교할때 그 값이 가장 큰 금액을 반올림하여 소숫점 이하 1자리까지 구하여라

In [14]:
cond1 = df['20L가격'] != 0 
cond2 = df['5L가격'] != 0 

result = df.loc[cond1 & cond2]

result['차이가격'] = result['20L가격'] - result['5L가격']
result.groupby("시도명")['차이가격'].mean().sort_values(ascending = False)
619.0

C:\Users\dn011\AppData\Local\Temp\ipykernel_24228\3796513604.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['차이가격'] = result['20L가격'] - result['5L가격']

시도명
인천광역시      619.000000
부산광역시      593.000000
제주특별자치도    580.000000
광주광역시      540.000000
서울특별시      519.729730
대전광역시      490.000000
경기도        476.901408
울산광역시      440.000000
대구광역시      410.000000
세종특별자치시    410.000000
경상남도       381.363636
충청북도       308.333333
강원도        305.172414
충청남도       301.900000
전라북도       275.673759
경상북도       256.612903
전라남도       242.761905
Name: 차이가격, dtype: float64

In [15]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2_.csv')
df.head(5)

       ID  height(cm)  weight(kg)
0  user_1       173.0        67.5
1  user_2       149.5        82.5
2  user_3       143.8        64.6
3  user_4       163.1        87.2
4  user_5       159.6        77.1

In [16]:
#BMI는 몸무게(kg) / (키(M) * 키(M)) 로 정의 된다. 초고도 비만은 BMI 25이상 , 고도 비반은
#BMI 25미만 - 23이상 , 정상은 23미만 - 18.5이상 저체중은 18.5미만으로 정의 된다.
#주어진 데이터에서 초고도비만 인원 + 저체중 인원 의 숫자는?

In [19]:
df['BMI'] = df['weight(kg)'] / (df['height(cm)'] / 100) **2

In [26]:
def g(x):
    if x >= 25:
        return '초고도비만'
    if x < 25 and x >= 23:
        return '고도비만'
    if x < 23 and x >= 18.5:
        return '정상'
    if x < 18.5:
        return '저체중'

df["비만도"] = df['BMI'].apply(g)
len(df[df['비만도'] == '초고도비만']) + len(df[df['비만도'] == '저체중'])

8998

In [ ]:
#순유입인원은 초중고 도내,도외 전입인원에서 초중고 도내, 도외 전출인원을 뺀값이다. 
#각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고 전체 기간의 해당 순유입인원들의 합을 구하여라

In [27]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')
df.head(5)

,지역,초등학교_전출_도내,초등학교_전출_도외,초등학교_전입_도내,초등학교_전입_도외,중학교_전출_도내,중학교_전출_도외,중학교_전입_도내,중학교_전입_도외,고등학교_전출_도내,고등학교_전출_도외,고등학교_전입_도내,고등학교_전입_도외,년도
0,종로구,221,132,255,126,63,71,104,73,203,72,166,75,2012
1,중구,295,139,203,100,66,43,58,44,156,37,104,39,2012
2,용산구,380,269,302,174,134,78,91,106,102,66,113,48,2012
3,성동구,643,344,376,221,154,103,98,82,179,37,153,41,2012
4,광진구,560,382,595,312,165,158,158,118,115,70,154,66,2012

In [28]:
df['전출도내'] = df['초등학교_전출_도내'] + df['중학교_전출_도내'] + df['고등학교_전출_도내']
df['전출도외'] = df['초등학교_전출_도외'] + df['중학교_전출_도외'] + df['고등학교_전출_도외']

df['전입도내'] = df['초등학교_전입_도내'] + df['중학교_전입_도내'] + df['고등학교_전입_도내']
df['전입도외'] = df['초등학교_전입_도외'] + df['중학교_전입_도외'] + df['고등학교_전입_도외']

In [31]:
df['순유입인원'] = (df['전입도내']+ df['전입도외']) - (df['전출도내']+ df['전출도외'])
df.groupby("년도")["순유입인원"].max().sum()

np.int64(13853)

In [32]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_1.csv')
df.head()

       ID  height
0  user_1  164.57
1  user_2  174.99
2  user_3  171.41
3  user_4  162.47
4  user_5  167.11

In [33]:
# 이 학생들의 키의 95% 신뢰구간을 구하고자 한다.

In [34]:
# 55명 학생들의 키에 대한 표본 평균을 구하여라(반올림하여 소숫점 3째자리까지

In [38]:
import numpy as np

mean = np.round(np.mean(df['height']),3)
mean

np.float64(169.937)

In [39]:
# t분포 양쪽 꼬리에서의 t 값을 구하여라 (반올림하여 소수4째자리까지)

In [56]:
import numpy as np
from scipy.stats import t

std = np.std(df['height'] , ddof = 1)
n = len(df['height'])

con = 0.95
ddof = n-1

t_value = np.round(t.ppf((1+con) / 2 , ddof),4)
t_value

np.float64(2.0049)

In [57]:
# 95% 신뢰구간을 구하여라(print(lower,upper) 방식으로 출력, 각각의 값은 소숫점 이하 3째자리까지)

In [61]:
lower = round(mean - t_value * std / np.sqrt(n),3)
upper = round(mean + t_value * std / np.sqrt(n),3)

print(lower,upper)

168.321 171.553

In [62]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_2.csv')
df.head()

  ID      value
0  A  84.179434
1  A  93.971003
2  A  62.140957
3  A  72.911723
4  A  79.252747

In [63]:
# 3 그룹의 데이터에 대해 크루스칼-왈리스 검정을 사용하여 검정 통계량을 반올림하여 소숫점 이하 3자리까지 구하여라

In [81]:
a = df[df['ID'] =='A']['value']
b = df[df['ID'] =='B']['value']
c = df[df['ID'] =='C']['value']

from scipy.stats import kruskal

print(kruskal(a,b,c))
round(6.52129032258064,3)
round(0.03836363929669668,3)

if 0.038 > 0.05:
    print("귀무")
else:
    print("대립")

KruskalResult(statistic=np.float64(6.52129032258064), pvalue=np.float64(0.038363639296696686))
대립